*{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 25px;
}

.adshjd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.um{
    font-size: 28px;
}

.dois{
    font-size: 20px;
}

header{
    display: flex;
    height: 94px;
    width: 100%;
    background-color: #cf4545;
}

.main{
    display: flex;
    flex-direction: row;
}

.left{
    display: flex;
    height: 650px;
    width: 25%;
    background-color: #cd9292;
}

.right{
    display: flex;
    height: 650px;
    width: 75%;
    background-color: #753535;
}

footer{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #9f3d3d;
}