*{
	margin: 0;
	padding: 0;
}

body{
	display:flex;
	flex-direction: column;
	width: 100vw;
	background-color: #ffe3dc;
}

.navmenu{
	width: 800px;
	text-decoration: none;
	padding: 20px;
}

.grafia{
	align-items: center;
	justify-content: center;
	
}

.car{
	align-items: center;
	justify-content: center;

}

.bio{
	width: 800px;
	background-color: rgba(255,255,255, .5);
	padding: 20px;
}

.car{
	width: 800px;
	background-color: rgba(255,255,255, .5);
	padding: 20px;
}


	