*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 166, 0);
    font-size: 18px;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.meio{
    background-color: #fff;
    width: 1000px;
    margin: auto;
}

table{
    margin-top: 100px;
}

input{
    padding: 10px 20px;
    margin: 15px 0px;
    border-radius: 15px;
}

.btn{
    background-color: rgb(103, 192, 107);
    border: none;
}

button{
    margin: 100px;
    padding: 15px;
    font-size: 18px;
    background-color: white;
}