*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Montserrat';
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #46B2EE;
    width: 100vw;
    height: 10vh;
}

.logoImg{
    margin: 10px 0px 0px 15px;
    width: 80px;
    height: 80px;
}

.buttons{
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 100%;
}

a{
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
}

.home{
    display: flex;
    flex-direction: row;
    background: rgba(235, 141, 21, 0.04);
}

.txtButton{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 230px;
    margin-left: 60px;
    font-size: 30px;
}

.butao{
    display: flex;
    align-items: left;
    width: 200px;
    height: 50px;
    background: linear-gradient(98.33deg, #46B2EE 0%, #00679E 116.9%);
    font-weight: 700;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.imgA{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 140px;
}

.mainImg{
    margin: 50px;
}

.scrolling{
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255);
}

.imgB{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px;
}