*{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 25px;
}

.adshjd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.um{
    font-size: 28px;
}

.dois{
    font-size: 20px;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.rede{
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 80px;
    background-color: red;
    border-radius: 50%;
}

.grin{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 15px 0 15px 80px;
    background-color: greenyellow;
    border-radius: 50%;
}

.blu{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 0 60px 80px;
    background-color: blue;
    border-radius: 50%;
}

.horizontal{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.rede2{
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 80px;
    background-color: red;
    border-radius: 50%;
}

.grin2{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 15px 0 15px;
    background-color: greenyellow;
    border-radius: 50%;
}

.blu2{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}