*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 135px;
    width: 100%;
    background-color: #cf4545;
}

.main{
    display: flex;
    flex-direction: row;
}

.left{
    display: flex;
    height: 700px;
    width: 25%;
    background-color: #cd9292;
}

.right{
    display: flex;
    height: 700px;
    width: 75%;
    background-color: #753535;
}

footer{
    display: flex;
    height: 134px;
    width: 100%;
    background-color: #9f3d3d;
}