*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif; 
}

header{
    width: 100vw;
    height: 10vh;
    background-color: #000;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    margin-left: 40px;
    list-style: none;
    font-size: 18px;
    color: #FFF;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    height: 80vh;
    background-color: #FFF;
}

footer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #000;
}

.model{
    visibility: hidden;
    display: none;
}