* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    background-color: #000;
}

button{
    margin: 20px;
    width: 150px;
    height: 50px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column; 
}

.publicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 248, 232);
    border: 1px solid #000;
    margin: 30px;
    height: 30vh;
    width: 60vh;
}

.modelo {
    visibility: hidden;
    display: none;
}