*{
	margin: 0;
	padding: 0;
}

body{
	display:flex;
	flex-direction: column;
	width: 100vw;
	background-color: #ffe3dc;
}

.testes{
	width: 800px;
	text-decoration: none;
	padding: 20px;
	
}

.table1{
	width: 800px;
	background-color: rgba(255,255,255, .5);
	padding: 20px;
}

.table1{
	align-items: center;
	justify-content: center;
}

.table2{
	width: 800px;
	background-color: rgba(255,255,255, .5);
	padding: 20px;
}

.table2{
	align-items: center;
	justify-content: center;
}