body{
    font-size: 20px;
    background-color: #eeeeee;
}

header{
    display: flex;
    justify-content:space-between;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    margin: 30px;
}

.nota{
    margin-top: 40px;
   font-weight: bold;
}

.mar{
    margin-top: 40px;
    color: rgb(190, 0, 0);
}

.mar2{
    margin-top: 40px;
    color: rgb(1, 173, 1);
}

.mar3{
    margin-top: 40px;
    color: rgb(1, 171, 187);
}

.logo{
    height: 100px;
    width: 100px;
    padding-left: 20%;
    padding-right: 30%;
}

.busca{
    background-color:#acacac;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    height:30px;
    margin-top: 30px;
  }

  .barraBuscar{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 14px;
    border: none;
    height: 32px;
    width: 260px;
  }

  .lupa{
    height: 25px;
    width: 25px;
    padding-top: 3px; 
}

.main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 200px;
    width: 1300px;
}

.noticias{
    display: flex;
    flex-flow: row wrap;
    width: 65vw;
    height: 75vh;
}

.data{
    width: 15vw;
    margin-right: 100px; 
}

.imgNoticia{
    height: 200px;
    width: 300px;
    margin-right: 25px;
}

.temasAlta{
    height: 460px;
    width: 320px;
    background-color: #fff;
    font-size: 20px;
    margin: 10px 100px;
}

.emAlta{
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}

.sla{
    border-bottom: 1px solid rgb(87, 87, 87);
    margin: 30px;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    margin: 30px;
}

.nota{
    margin-right: 10px;
   font-weight: bold;
}

.mar{
    margin-right: 10px;
    color: rgb(190, 0, 0);
}

.mar2{
    margin-right: 10px;
    color: rgb(1, 173, 1);
}

.mar3{
    margin-top: 40px;
    color: rgb(1, 171, 187);
}

.logo{
    height: 100px;
    width: 100px;
    padding-left: 20%;
    padding-right: 30%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 50px;
    width: 100px;
}

.noticias{
    display: flex;
    width: 100vw;
    height: 105vh;
}

.data{
    
    width: 60vw;
    
}

.imgNoticia{
    height: 200px;
    width: 300px;
    margin-right: 25px;
}

.temasAlta{
    position: absolute;
    top: 1500px;
    left: -30px;
    height: 460px;
    width: 320px;
    background-color: #fff;
    font-size: 20px;
    
    
}

.emAlta{
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px
    
}

.sla{
    border-bottom: 1px solid rgb(87, 87, 87);
    margin: 30px;
    padding-bottom: 20px;
}


}
